@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
	--color-background: #e8e8e8;
  --color-navbar: #5271ff;
	--color-foreground: #5271ff;
	--color-primary: #9575CD;
	--color-secondary: #FFF2D864;
  --color-missed: #FF8A65;
  --color-btn-primary: #ff9075;
  --color-card: #FFFFFF;
}

body {
  color: var(--color-black);
  background-color: var(--color-background);
  font-family: var(--font-funnel), Helvetica, sans-serif;
}
